<!DOCTYPE HTML>
%html
  %head
    %title== Furtacor code colorizer feat. CodeRay
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', :type => 'text/javascript' }
    %script{ :src => '/main.js', :type => 'text/javascript' }
    %link{ :rel => 'stylesheet', :href => '/style.css', :type => 'text/css' }

  %body
    %ul#tabs
      %li
        %a#code{ :href => '#'}== Code
      %li
        %a#colorized{ :href => '#'}== Colorized
      %li
        %a#html_src{ :href => '#'}== HTML
    .page.original_code
      %form{ :action => '/coderay', :method => 'post' }
        %textarea
        %select#lang
          %option== C
          %option{ :value => 'CPlusPlus' }== C++
          %option== CSS
          %option== Delphi
          %option== Diff
          %option== Groovy
          %option== HTML
          %option== Java
          %option== Javascript
          %option== JSON
          %option== NitroXHTML
          %option== PHP
          %option== Plaintext
          %option== Python
          %option== RHTML
          %option{ :selected => 1 }== Ruby
          %option== SQL
          %option== Scanner
          %option== Scheme          
          %option== XML
          %option== YAML
    .page.colorized_code
    .page.html_source
      %form
        %textarea
    %footer
      Get the source code on <a href="http://github.com/jdrowell/furtacor">Github</a>

